@font-face {
    font-family: "Playfair Display";
    src: url(Assets/PlayfairDisplay-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display";
    padding: 0;
    margin: 0;
}

.top-background {
    position: absolute;
    background-color: #0891B2;
    top: -70vh;
    left: -50%;
    height: 100vh;
    width: 200%;
    transform: rotate(-10deg);
    z-index: -1;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

section,
footer {
    padding: 5rem 6rem;
}

.about-me-container {
    width: 95%;
    min-width: 250px;
    margin: 0 auto;
}

.text-with-image {
    overflow: hidden;
    /* Para limpiar los elementos flotantes y evitar desbordes */
}

/* Estilo para la imagen flotante */
.image {
    float: left;
    /* La imagen flota a la izquierda */
    margin-right: 2rem;
    /* Espacio entre la imagen y el texto */
    margin-bottom: 10px;
    /* Espacio debajo de la imagen */
    width: 40%;
    /* Asegura que la imagen tenga un tamaño consistente */
    min-width: 280px;
    height: auto;
    /* Mantiene la proporción de la imagen */
}

/* Contenedor del texto (fondo blanco) */
.text-content {
    background-color: #ffffff;
    /* Fondo blanco para el texto */
    padding: 3rem;
    margin-top: 4rem;
    /* Desplaza el texto un poco hacia abajo */
}

/* Estilo para el título */
.title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    /* Alinea el título con la parte superior */
    margin-bottom: 1.5rem;
    /* Separación entre el título y el texto */
}

/* Estilo para el párrafo */
.paragraph p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin-top: 0;
}

/* Contenedor para los iconos */
.icon-container {
    display: block;
    /* Asegura que los iconos estén en una nueva línea */
    margin-top: 2rem;
    text-align: end;
}

/* Estilo para los iconos (FontAwesome) */
.icon {
    height: 2rem;
    /* Tamaño consistente de los iconos */
    margin-right: 1.5rem;
    /* Espacio entre los iconos */
    margin-top: 0;
    /* Alineación al borde superior */
    margin-bottom: 10px;
    /* Espacio debajo de los iconos */
    display: inline-block;
    /* Los iconos están en el mismo flujo de texto */
}

/* Asegura que los elementos después de la imagen no desborden */
.text-with-image::after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    font-size: 2.5rem;
    margin: 0;
}

#work-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 2rem;
}

#work-container>div {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 2rem; */
    color: #fff;
    font-size: 3rem;
    text-align: center;
    height: 500px;
}

.project-description {
    padding: 1rem 1.5rem;
}

.project-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-main>div {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.project-main img {
    height: 2rem;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

.project-description p {
    font-size: 2rem;
    margin-bottom: 8rem;
}

footer {
    background-color: #0891B2;
    box-shadow: 0px -6px 8px rgba(0, 0, 0, 0.3);
}

#contact-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    color: #fff;
}

.contact {
    flex: 3;
    padding: 0;
}

.contact-img {
    flex: 5;
}

.contact-img img {
    height: auto;
    width: 100%;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

footer p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-methods {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contact-methods img {
    height: 2rem;
}

.contact-methods:last-child {
    gap: 4rem;
}

@media (max-width: 1024px) {

    section,
    footer {
        padding: 5rem 3rem;
    }

    #work-container {
        grid-template-columns: 1fr 1fr;
    }

    #contact-container {
        flex-direction: column;
    }

    .contact-methods:last-child {
        justify-content: center;
        gap: 4rem;
    }
}

@media (max-width: 650px) {
    #work-container {
        grid-template-columns: 1fr;
    }

    #contact-container {
        flex-direction: column;
    }
    section,
    footer {
        padding: 3rem 1em;
    }

    footer h3 {
        font-size: 2rem;
    }
    
    footer p {
        font-size: 1rem;
    }
    
    .contact-methods:last-child {
        justify-content: center;
        gap: 4rem;
    }

    .image {
        width: 100%;
    }
}